/* Variabili */
$logoColorLGreen: rgb(63, 109, 44);
$logoColorGreen: rgb(42, 137, 68);
$logoColorYellow: rgb(253, 221, 14);
$logoColorSalmon: rgb(246, 178, 117);
$logoColorRed: rgb(217, 13, 12);
$logoColorBlack: rgb(3, 0, 8);
$bgColor: linear-gradient(90deg, rgba(42, 137, 68, 0.5) 0%, rgba(253, 221, 14, 0.5) 100%);
$titleShade: -1px 0 #3F6D2C, 0 2px #FDDD0E, 2px 0 #FDDD0E, 0 -1px #3F6D2C;
$warningShade: -1px 0 #FDDD0E, 0 2px #030008, 2px 0 #030008, 0 -1px #FDDD0E;
$titleFont: "Audiowide";
$subTitleFont: "Rajdhani";
$mainFont: "Roboto Flex";

.section{
  margin: 1%;
  display: flex;
  justify-content: space-around;
  align-items: normal;
  flex-direction: column;
  border-left: 3px groove $logoColorSalmon;
  border-right: 3px groove $logoColorSalmon;
  box-shadow: 0 0 10px $logoColorBlack;
  background: $bgColor;
  min-height: 70vh;
}

.btn-section{
  margin: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 0 3px $logoColorBlack;
  border-radius: 5px;
}

.btn-estrai,
.btn-mostra-estratti,
.btn-mostra-assegnati,
.btn-biografia{
  margin: 1% auto;
  font-family: $mainFont;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  background: rgb(42, 137, 68, 0.5);
  color: $logoColorBlack;
  border: 1px solid $logoColorYellow;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}
.btn-estrai:hover,
.btn-mostra-estratti:hover,
.btn-mostra-assegnati:hover,
.btn-big-reset:hover,
.btn-riponi:hover,
.btn-biografia:hover{
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 5px $logoColorBlack;
}
.btn-estrai:active,
.btn-mostra-estratti:active,
.btn-mostra-assegnati:active,
.btn-biografia:active{
  background: $logoColorBlack;
  color: $logoColorYellow;
  box-shadow: 0 0 3px $logoColorRed;
}

.box-contatori{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px $logoColorLGreen;
  border-radius: 5px;
  width: 200px;
  max-width: 200px;
  max-height: 75px;
}

.btn-big-reset{
  margin: 1% auto;
  font-family: $titleFont;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  background: $logoColorRed;
  color: $logoColorBlack;
  border: 2px solid $logoColorBlack;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}
.btn-big-reset:active{
  background: $logoColorBlack;
  color: $logoColorRed;
  box-shadow: 3px 3px 5px $logoColorRed;
}

.contatore-estratti,
.contatore-acquistati{
  margin: 2% auto;
  font-size: 1.2rem;
  font-family: $mainFont;
}

.ultimo-estratto{
  margin: 1%;
  text-align: center;
  text-wrap: nowrap;
  box-shadow: 0 0 3px $logoColorBlack;
  border-radius: 5px;
}

.h3-estratto{
  margin: 1% auto;
  font-size: 1.5rem;
  font-family: $subTitleFont;
  font-weight: bold;
}

.p-estratto{
  margin: 1% auto;
  font-size: 1.3rem;
  font-family: $mainFont;
}

.btn-riponi{
  margin: 1% auto;
  font-family: $mainFont;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  background: rgb(253, 221, 14, 0.5);
  color: $logoColorBlack;
  border: 1px solid $logoColorLGreen;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}
.btn-riponi:active{
  background: rgb(255, 255, 255);
  color: $logoColorGreen;
  border: 1px solid $logoColorYellow;
  box-shadow: 3px 3px 5px $logoColorYellow;
}

.lista-finita{
  margin: 1% auto;
  text-align: center;
  font-size: 2rem;
  font-family: $titleFont;
  color: $logoColorRed;
  text-shadow: $warningShade;
}

.commento{
  margin: 1% auto;
  text-align: center;
  font-size: 1.3rem;
  font-family: $mainFont;
  color: $logoColorBlack;
}

.allenatori-container{
  margin: 1% auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.squadra-container{
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px $logoColorGreen;
  border-radius: 5px;
  padding: 5px;
}

.logo-squadra{
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nome-squadra{
  margin: 2% auto;
  font-family: $subTitleFont;
  font-size: 1.2rem;
  text-shadow: $titleShade;
}

.btn-biografia{
  margin: 0 auto 2% auto;
  font-size: 0.7rem;
  padding: 5px;
}

.biografia{
  margin: 1% auto;
  text-align: center;
  font-size: 1rem;
  font-family: $mainFont;
  color: $logoColorBlack;
  background: rgb(0, 0, 0, 0.1);
  box-shadow: 0 0 5px $logoColorLGreen;
  border-radius: 10px;
  max-width: 200px;
  word-wrap: break-word;
}

.nome-allenatore,
.crediti{
  margin: 2% auto;
  font-family: $mainFont;
  font-size: 1.2rem;
  font-weight: normal;
}

.cinquecento{
  margin: 2% auto;
  padding: 2px;
  border: 2px solid $logoColorRed;
  border-radius: 10px;
  color: $logoColorBlack;
  background: rgb(246, 178, 117, 0.3);
  font-family: $mainFont;
  font-size: 1.2rem;
  font-weight: normal;
}

.crediti-esauriti{
  margin: 2% auto;
  padding: 2px;
  border: 3px solid $logoColorBlack;
  border-radius: 10px;
  color: $logoColorRed;
  background: $logoColorSalmon;
  font-weight: bold;
  font-size: 1.2rem;
}

.crediti-bassi{
  margin: 2% auto;
  font-family: $mainFont;
  font-size: 1.2rem;
  font-weight: normal;
  padding: 2px;
  border: 2px solid $logoColorYellow;
  border-radius: 10px;
  color: $logoColorBlack;
  background:rgb(246, 178, 117, 0.3);
}

.sforato{
  font-family: $mainFont;
  font-size: 2.5rem;
  color: $logoColorRed;
  font-weight: bold;
}

.btn-assegna-giocatore{
  margin: 2% auto;
  font-family: $mainFont;
  text-align: center;
  font-size: 1rem;
  padding: 10px;
  background: rgb(42, 137, 68, 0.5);
  color: $logoColorBlack;
  border: 1px solid $logoColorYellow;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}
.btn-assegna-giocatore:hover{
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 5px $logoColorBlack;
}
.btn-assegna-giocatore:active{
  background: $logoColorBlack;
  color: $logoColorYellow;
  box-shadow: 0 0 3px $logoColorRed;
}

.box-input-prezzo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.testo-prezzo{
  margin-left: 8%;
  font-size: 1rem;
  font-family: $mainFont;
}

.input-prezzo{
  margin: 1% auto;
  height: 25px;
  width: 50px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 3px $logoColorBlack;
  background: rgb(253, 221, 14, 0.3);
  text-align: center;
  font-family: $subTitleFont;
  -moz-appearance: textfield;
}
.input-prezzo:focus{
  outline: none;
}
// .input-prezzo::-webkit-outer-spin-button,
// .input-prezzo::-webkit-inner-spin-button{
//   -webkit-appearance: none;
// }

.giocatori-acquistati{
  margin: auto;
  font-family: $subTitleFont;
  font-size: 1.1rem;
}

.x-svincola{
  display: inline;
  margin-left: 1%;
  color: red;
  font-size: 2rem;
  cursor: pointer;
}

.lista-squadra{
  padding: 25px;
}

.lista-intera{
  margin: 1%;
  text-wrap: nowrap;
  box-shadow: 0 0 3px $logoColorBlack;
  border-radius: 5px;
}

.h3-lista-intera{
  margin: 1% auto;
  text-align: center;
  font-size: 1.5rem;
  font-family: $subTitleFont;
  font-weight: bold;
}

.input-ricerca{
  margin: auto 35% auto 35%;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px $logoColorBlack;
  background: rgb(253, 221, 14, 0.3);
  text-align: center;
  font-family: $mainFont;
  font-size: 0.9rem;
}
.input-ricerca:focus{
  outline: none;
}

.p-lista-intera{
  margin: 1%;
  font-size: 1.3rem;
  font-family: $mainFont;
}

.gia-assegnato{
  margin: 1% auto;
  border: 3px solid $logoColorLGreen;
  background: rgb(246, 178, 117, 0.3);
}

.span-gia-assegnato{
  margin-left: 100px;
  font-family: $titleFont;
  color: $logoColorRed;
}

.input-prezzo-svincolato{
  margin: auto 1%;
  width: 50px;
  height: 25px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 3px $logoColorBlack;
  background: rgb(253, 221, 14, 0.3);
  text-align: center;
  font-family: $subTitleFont;
  -moz-appearance: textfield;
}
.input-prezzo-svincolato:focus{
  outline: none;
}
// .input-prezzo-svincolato::-webkit-outer-spin-button,
// .input-prezzo-svincolato::-webkit-inner-spin-button{
//   -webkit-appearance: none;
// }

.select-svincolato{
  margin: auto 1%;
  font-family: $mainFont;
  text-align: center;
  font-size: 1rem;
  padding: 5px;
  background: rgb(42, 137, 68, 0.5);
  color: $logoColorBlack;
  border-radius: 5px;
  border: 1px solid $logoColorYellow;
  cursor: pointer;
}

.option-svincolato{
  background: rgb(42, 137, 68, 0.5);
  font-size: 1.2rem;
  font-family: $mainFont;
  color: $logoColorBlack;
}

.btn-assegna-svincolato{
  margin: auto 1%;
  font-family: $mainFont;
  text-align: center;
  font-size: 1rem;
  padding: 5px;
  background: rgb(42, 137, 68, 0.5);
  color: $logoColorBlack;
  border: 1px solid $logoColorYellow;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}
.btn-assegna-svincolato:hover{
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 5px $logoColorBlack;
}
.btn-assegna-svincolato:active{
  background: $logoColorBlack;
  color: $logoColorYellow;
  box-shadow: 0 0 3px $logoColorRed;
}



/* media query */
@media (max-width: 400px){
  .h3-estratto{
    font-size: 1.2rem;
  }
  .p-estratto{
    font-size: 0.7rem;
  }
  .allenatori-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .squadra-container{
    margin: 1% auto;
  }
  .sforato{
    font-size: 1.6rem;
  }
  .p-lista-intera{
    font-size: 0.7rem;
  }
  .span-gia-assegnato{
    display: none;
  }
}

@media (min-width: 401px) and (max-width: 500px){
  .h3-estratto{
    font-size: 1.2rem;
  }
  .p-estratto{
    font-size: 0.7rem;
  }
  .allenatori-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .squadra-container{
    margin: 1% auto;
  }
  .sforato{
    font-size: 1.6rem;
  }
  .p-lista-intera{
    font-size: 0.7rem;
  }
  .span-gia-assegnato{
    display: none;
  }
}

@media (min-width: 501px) and (max-width: 750px){
  .h3-estratto{
    font-size: 1.2rem;
  }
  .p-estratto{
    font-size: 1rem;
  }
  .allenatori-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .squadra-container{
    margin: 1% auto;
  }
  .sforato{
    font-size: 1.6rem;
  }
  .p-lista-intera{
    font-size: 1rem;
  }
  .span-gia-assegnato{
    display: none;
  }
}

@media (min-width: 751px) and (max-width: 999px){
  .h3-estratto{
    font-size: 1.5rem;
  }
  .p-estratto{
    font-size: 1.2rem;
  }
  .allenatori-container{
    display: grid;
    grid-template: auto auto / repeat(2, 1fr);
  }
  .squadra-container{
    margin: 1% auto;
  }
  .sforato{
    font-size: 1.6rem;
  }
  .p-lista-intera{
    font-size: 1rem;
  }
  .span-gia-assegnato{
    margin-left: 10px;
  }
}

@media (min-width: 1000px) and (max-width: 1299px){
  .allenatori-container{
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
  }
  .sforato{
    font-size: 1.6rem;
  }
  .p-lista-intera{
    font-size: 1.3rem;
  }
  .span-gia-assegnato{
    margin-left: 25px;
  }
}

@media (min-width: 1300px) and (max-width: 1700px){
  .allenatori-container{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
  }
  .sforato{
    font-size: 1.6rem;
  }
}

@media (min-width: 1700px) and (max-width: 2300px){
  .allenatori-container{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
  }
  .sforato{
    font-size: 1.6rem;
  }
}